.container-section-1{
    font-family: Arial, sans-serif;
    margin: 10%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 80%;
    max-width: 1200px;
}

.box {
    width: 23%;
    background-color: #0d0c0d;
    border: 1px solid #080808;
    box-shadow: 0 4px 8px rgba(178, 135, 163, 0.1);
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.text-box {
    background-color: #0e0f0f; /* Color del fondo del texto */
    padding: 10px;
    border-top: 1px solid #0c0b0b;
    color: #f6ebeb;
    font-size: 14px;
}

.btn-purple{
    border-color: #874c80;
}
.btn-purple:hover{
    background-color: #874c80;
    border-color: #874c80;
}
