.container-section-1{
    font-family: Arial, sans-serif;
    margin: 10%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
}

.box {
    width: 23%;
    background-color: #0d0c0d;
    border: 1px solid #080808;
    box-shadow: 0 4px 8px rgba(178, 135, 163, 0.1);
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.text-box {
    background-color: #0e0f0f; /* Color del fondo del texto */
    padding: 10px;
    border-top: 1px solid #0c0b0b;
    color: #f6ebeb;
    font-size: 14px;
}

.btn-purple{
    border-color: #874c80;
}
.btn-purple:hover{
    background-color: #874c80;
    border-color: #874c80;
}

.container-hero-section{
    height: 600px;
    
    margin-left: 0px;
    margin-right: 0px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container-hs-img{
    width: 100%;
    height: 500px;
}

.hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 8px;
    color: #9b59b6;
}

.hero-text p {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.hero-button {
    padding: 10px;
    border-radius: 4px;
    margin: 8px;
    border: none;
    background-color: #9b59b6;
    color: #000000;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em ;

}
.hero-button:hover{
    background-color: #d293eb;
}